@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
}
